asgiref==3.7.2
certifi==2024.2.2
colorama==0.4.6
coverage==7.4.3
Django==4.2.11
entrypoints==0.3
flake8==7.0.0
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.2
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
pytest==8.0.2
pytest-cov==4.1.0
pytest-django==4.8.0
pytz==2024.1
sentry-sdk==1.40.6
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.6.0
